.skill {
  background: #15151b;
  padding: 12px 20px;
  border-radius: 10px;
  margin: 8px;
  display: inline-block;
  transition: 0.3s;
  box-shadow: 0 0 0 rgba(120, 70, 255, 0);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(120, 70, 255, 0.6);
  }
}
