/* COLORES */
$bg-main: #0b0b0d;
$bg-dark: #0a0a0c;
$bg-card: #141419;
$bg-soft: #15151b;

$primary: #6a4dfc;
$primary-hover: #8a71ff;

$text-main: #e6e6e6;
$text-light: #f2f2f2;

/* FUENTE */
$font-main: 'Poppins', sans-serif;
